$u-danger: var(--color-danger);

.po-buttons-container {
  position: absolute;
  bottom: 0;
  width: 97%;
  padding-bottom: 10px;
  padding-left: -10px;
  padding-right: 10px;
  display: flex;
  justify-content: space-between;
  background-color: var(--color-white);
}

.po-buttons-container-wrapper {
  position: relative;
  padding-bottom: 60px;
}

.container-bottom {
  position: fixed;
  background-color: #fbfbfb;
  bottom: 0;
  padding: 1rem 2vw;
  width: 100vw;
}

.u-danger {
  color: $u-danger;
}

.u-icon {
  color: var(--color-brand-01-base);
  font-size: 18px;
  cursor: pointer;
}

.u-label-projeto {
  font-family: var(--font-family);
  font-size: 16px;
  height: var(--line-height);
  color: var(--color-field-container-color-title, var(--text-color));
  text-align: left;
  font-weight: bold;
  padding-right: var(--spacing-xs);
}
